.question-list-table {
	border-collapse: collapse;

	table-layout: auto;
	& th,
	& td,
	& tr {
		border: 1px solid #777;
	}

	/* & td,
	& th {
		padding: 1rem;
	} */
}

th {
	word-wrap: break-word;
	white-space-collapse: collapse;
	overflow-x: auto !important;
	width: 10px !important;
}
