@keyframes slideIn {
    from {
        right: -100%;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        right: 0;
        opacity: 1;
    }
    to {
        right: -100%;
        opacity: 0;
    }
}

.notification-modal {
    position: fixed;
    top: 20px;
    width: 300px;
    background-color: #f0f0f0;
    padding: 15px;
    border: 1px solid #ccc;
    transition: 300ms all ease-in-out;
}
.notification-modal.visible{
    animation: slideIn 2000ms ease-in-out;
}
.notification-modal.hidden {
    animation: slideOut 2000ms ease-in-out;
}

.success {
    background-color: #4bb543;
}

.warning {
    background-color: #ed4337;
}

.fail {
    background-color: #e9d502;
}
